<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ site.Title }} (Alt + H)">
        <strong class="site-title">{{ site.Title }}</strong>
      </a>
    </div>

    <!-- Hamburger / Close Icon -->
    <button class="menu-toggle" id="menuToggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Main Menu -->
    <ul id="menu">
      {{- $currentPage := . }}
      {{- range site.Menus.main }}
      {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL)) | absLangURL }}
      {{- $page_url := $currentPage.Permalink | absLangURL }}
      <li>
        <a href="{{ .URL | absLangURL }}">
          <span {{ if eq $menu_item_url $page_url }}class="active"{{ end }}>
            {{ .Name }}
          </span>
        </a>
      </li>
      {{- end }}
    </ul>
  </nav>

  <script>
    function toggleMenu() {
      const menu = document.getElementById("menu");
      const body = document.body;
      const toggle = document.getElementById("menuToggle");

      menu.classList.toggle("open");
      body.classList.toggle("menu-open");
      toggle.classList.toggle("open");
    }
  </script>
</header>
