{{ define "main" }}
<section class="home-profile">
  <img src="/images/profile.jpg" alt="B. Vinay Reddy" class="profile-photo">

  <h1 class="home-name">B. Vinay Reddy</h1>

  <p class="home-bio">
    A writer and advocate, B. Vinay Reddy (M.Com, pursuing LLB) actively champions People's Rights and Consumer Awareness, making governance transparent through the RTI Act.
  </p>

  <div class="social-links">
    <a href="mailto:help@bvinayreddy.com" title="Email"><i class="fa-solid fa-envelope"></i></a>
    <a href="https://www.bvinayreddy.com/" title="Website"><i class="fa-solid fa-link"></i></a>
    <a href="https://www.linkedin.com/in/bvinayreddy/" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://x.com/VinayReddyBV" title="X (Twitter)"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.facebook.com/BanappagariVinayReddy" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/vinayreddybv/" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
  </div>
</section>
{{ end }}
